* {
    margin: 0%;
    padding: 0%;
    background-color: rgb(156, 156, 234);
  }

  .conversor{
    margin: 2%;
    padding: 5px; 
  }
  #cotizar{
    width: 50px;
    height: 18px;
    background-color: rgb(168, 118, 243);
  }
#valor{
    width: 10%;
    height: 18px;

}
  
 